@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Welcome to Animal Shelter List</h1>
  <h3><a href = "/animal/new">Add an animal</a></h3>
  <h3><a href = "/animal/index">Go to Animal List</a></h3>

</div>
